@import url('reset.css');

.masthead-wrapper {
  background-image: url('../images/background-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 1400px;
  height: 700px;
  margin: auto;
}

.banner {
  display: flex;
  flex-direction: column;
  min-height: 1000px;
}

.masthead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}

.logo {
  display: inline-block;
  color: #fbdc33;
  font-family: 'Italianno', cursive;
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
  
}

.nav {
  display: flex;
}

.nav-item {
  display: inline-block;
  margin-left: 60px;
}

.nav-item:first-child {
  margin-left: 0;
}

.nav-link {
  display: block;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}

/* home */

.home {
  text-align: center;
  margin: auto;
}

.home-slogan {
  color: #ffffff;
  font-family: 'Italianno', cursive;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 50px;
}

.home-title {
  margin-bottom: 50px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
}

.home-btn {
  display: inline-block;
  width: 240px;
  height: 65px;
  line-height: 65px;
  text-align: center;
  border-radius: 3px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fed136;
}

/* Services */

.services-wrapper {
  background-color: #ffffff;
}

.section {
  padding-top: 120px;
}

.services-header {
  margin: auto;
  text-align: center;
  margin-bottom: 90px;
}

.services-header-title {
  color: #222222;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.services-header-text {
  color: #777777;
  font-family: 'Italianno', cursive;
  font-size: 16px;
  font-weight: 400;
}

/* services LIST */

.services-list {
  display: flex;
  justify-content: center;
}

.services-list-item {
  flex: 0 0 20%;
  margin-right: 50px;
}

.services-list-item:last-child {
  margin-right: 0px;
}

.services-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-card-border-icon {
  width: 70px;
  height: 70px;
  border: 5px solid #fbdc33;
  border-radius: 50%;
  position: relative;
  margin-bottom: 20px;
}

.services-card-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
}

.services-card-title {
  color: #222222;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 16px;
}

.services-card-text {
  color: #777777;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

/* CONTACT */

.contact-wrapper {
  background-image: url('../images/Background-contacts.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact-header {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-bottom: 90px;
}

.contact-header-title {
  margin-bottom: 46px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.contact-header-text {
  color: #777777;
  font-family: 'Italianno', cursive;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/*FORM*/
.contact-form {
  width:  940px;
  margin: auto;
}

form {
display: flex;
flex-direction: column;
}

.contact-form-imput {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 210px;
  align-content: space-between;
  margin-bottom: 30px;
}

input {
  border: 0;
  outline: 0;
  width: 445px;
  height: 50px;
  margin-bottom: 30px;
  color: #bbbbbb;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #fcfafa;
  padding: 15px 20px;
  font-family: 'Montserrat', sans-serif;
}

.input-last-child {
  margin-bottom: 0px;
}

textarea {
  border: 0;
  outline: 0;
  width: 445px;
  height: 210px;
  color: #bbbbbb;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #fcfafa;
  padding: 15px 20px;
  font-family: 'Montserrat', sans-serif;
}
.contact-form-btn {
  margin: auto;
}