@import url('reset.css');

.masthead-wrapper {
  background-image: url('../images/Rectangle-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  min-width: 320px;
  max-width: 940px;
  margin: auto;
}

.banner {
  min-height: 700px;
  display: flex;
  flex-direction: column;
}

.masthead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}

.logo {
  display: inline-block;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

.nav {
  display: flex;
}

.nav-item {
  display: inline-block;
}

.nav-link {
  display: block;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 15px;
 }

.nav-link:hover {
  border-color: #ffffff;
}

/* home */

.home {
  text-align: center;
  margin: auto;
}

.home-title {
  width: 500px;
  margin: auto;
  margin-bottom: 35px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.3;
}

.home-slogan {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 35px;
}

.home-btn {
  display: inline-block;
  width: 220px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 20px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  background-color: #ff4e50;
}

/* PARTNERS */

.partners-wrapper {
  background-color: #ffffff;
  padding: 60px 0px;
}

.partners-header {
  margin: auto;
  text-align: center;
}

.partners-header-title {
  color: #333333;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 30px;
}

/* PARTNERS LIST */

.partners-list {
  margin-bottom: 30px;
}

.partners-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  margin: auto;
}

.partners-card-name {
  color: #333333;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

.partners-card-text {
  color: #666666;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  line-height: 1.3;
}

.partners-btn {
  display: block;
  margin: auto;
  width: 200px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 2px solid #ff4e50;
  border-radius: 20px;
  color: #ff4e50;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}

/* MEDIA*/

@media (min-width: 300px) and (max-width: 747px) {
  .masthead-wrapper {
    background-image: url('../images/Rectangle-2x.jpg');
  }

  .masthead {
    flex-direction: column-reverse;
    min-height: 230px;
    padding-top: 25px;
  }

  .home-title {
    width: 291px;
    font-size: 30px;
  }

  .home-slogan {
    font-size: 18px;
  }

  .home-btn {
    width: 280px;
  }

  .partners-header-title {
    width: 270px;
    margin: auto;
    margin-bottom: 15px;
  }

  .partners-list-item {
    margin-bottom: 20px;
  }

  .partners-list-item:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 748px) and (max-width: 939px) {
  .partners-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .partners-list-item {
    flex: 0 0 35%;
    margin-bottom: 50px;
  }
  
  .partners-list-item:nth-last-child(-n +2) {
    margin-bottom: 0;
  }
}

@media (min-width: 940px) {
  .partners-list {
    display: flex;
    justify-content: space-between;
  }      
}